.account-detail > * + *{
  margin-top: 20px;
}
@media (min-width: 900px){
  .account-detail > * + *{ margin-top: 24px; }
}

.detail-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.detail-tags{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.balance-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}

.balance-amount.lg{
  font-size: 2rem;
  font-weight: 800;
  margin-top: 6px;
}

/* ghost = Actualizar saldo */
.balance-row .actions .btn-ghost{
  font-weight: 500;
  background: var(--text);
  color: #f3f3f3;
  transition: 1s ease;
}
.balance-row .actions .btn-ghost:hover{
  transform: translateY(-1px);
  color: white;
  background-color: var(--primary-orange);
}

/* primary = Transferir */
.balance-row .actions .btn-transfer{
  font-weight: 500;
  background: var(--text);
  color: #f3f3f3;
  transition: 1s ease;
}
.balance-row .actions .btn-transfer:hover{
  background-color: var(--primary-orange);
  color: white;
  transform: translateY(-1px);
}

/* Dos columnas inferiores */
.two-col{
  display: grid;
  gap: 20px;
}
@media (min-width: 900px){
  .two-col{
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

.kv{
  display: grid;
  gap: 10px;
}
.kv .k{
  color: var(--muted);
  margin-right:8px;
}
.kv div{
  display: flex;
  justify-content: space-between;
}