:root{
  --bg:#f9f9f9;   
  --primary:#464646;
  --primary-orange:#f55f15;
  --primary-gray:#b8b8b8;

  --text:#686868;
  --muted:#b1b1b1;
  --success:#22c55e;
  --danger:#ff4d4f;
  --focus:#ffd166;

  --radius:50px;
  --gap:12px;
  --container:980px;
}
